
#qhe {
    background-image: url(./assets/img/hero_bg_1.jpg) !important;
}

.probootstrap-intro {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    height: 800px;
    overflow: hidden;
}